%% -*- erlang -*-
[
  "config/sys.config",
  {lager,
    [
      {log_root, "/var/data/log"}
    ]},
  {blockchain,
    [
      {key, {ecc, [{key_slot, 0}, {onboarding_key_slot, 0}]}}
    ]},
  {miner,
    [
     {jsonrpc_ip, {0,0,0,0}}, %% bind jsonrpc to host when in docker container
     {use_ebus, true},
      {radio_device, { {0,0,0,0}, 1680,
        {0,0,0,0}, 31341} }
    ]}
].
